<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- MyBatis 设置 -->
    <settings>
        <!-- 禁用全局延迟加载，所有关联对象都会即时加载 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 启用下划线与驼峰式命名规则的映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="com.framework.loippi.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.framework.loippi.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
</configuration>